@font-face {
    font-family: 'estedad';
    src: url("fonts/Estedad-Regular.woff2") format('woff2');
}
@font-face {
    font-family: 'light-e';
    src: url("fonts/Estedad-Thin.woff2") format('woff2');
    font-weight: lighter;
}
@font-face {
    font-family: 'estedad-100';
    src: url("fonts/Estedad-Regular.woff2") format('woff2');
    font-weight: 100;
}
@font-face {
    font-family: 'lightbefornormal';
    src: url("fonts/Estedad-Light.woff2") format('woff2');
    font-weight: 200;
}
@font-face {
    font-family: 'normal';
    src: url("fonts/Estedad-Medium.woff2") format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'estedad';
    src: url("fonts/Estedad-SemiBold.woff2") format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'estedad';
    src: url("fonts/Estedad-Bold.woff2") format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'estedad';
    src: url("fonts/Estedad-ExtraBold.woff2") format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'estedad';
    src: url("fonts/Estedad-Black.woff2") format('woff2');
    font-weight: bolder;
}