#filters {
	text-align: center;
	padding: 20px;
	a {
	  font-size: 16px;
	  font-family: lato, helvetica, arial;
	  text-decoration: none;
	  color: #666;
	  margin: 10px;
	  &:hover {
		color: #000;
	  }
	}
  }
  
  #grid {
	a {
	  width: 200px;
	  height: 160px;
	  display: inline-block;
	  margin: 15px;
  
	  &.type1 {
		background-color: #85fd2b;
	  }
	  &.type2 {
		background-color: #2b85fd;
	  }
	  &.type3 {
		background-color: #fd2b85;
	  }
	}
  }
  