.gp-free {
    gap: 3rem;
}

.main-gender {
    background-color: rgba(0, 0, 0, 0.041);

    .portfolio-item {
        font-family: "estedad";
        font-weight: 300;
        font-size: 18px;

        a {
            text-decoration: none;
            color: black;
            padding: 7px 30px;
        }

        .image-even-shop-wear {
            cursor: pointer;
            position: relative;
        }

        //mardane
        .mardane-1 {
            position: relative;

            .mardane-icon-1 {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid white;
                background-color: white;
                padding: 8px 0px;
            }
        }

        .other-mardane {
            img {
                width: 302px;
                display: block;

            }
        }

        .mardane-22 {
            position: relative;

            .mardane-icon-2 {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid white;
                background-color: white;
                padding: 8px 0px;
            }
        }

        .mardane-33 {
            position: relative;

            .mardane-icon-3 {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid white;
                background-color: white;
                padding: 8px 0px;
            }
        }

        .mardane-44 {
            position: relative;

            .mardane-icon-4 {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid white;
                background-color: white;
                padding: 8px 0px;
            }
        }

        //zanane
        .other-zanane {
            img {
                width: 302px;
                display: block;
            }
        }

        .zanane-1 {
            position: relative;
        }

        .zanane-icon-1 {
            position: absolute;
            right: 0;
            bottom: 0;
            border: 1px solid white;
            background-color: white;
            padding: 8px 0px;
        }

        .zanane-22 {
            position: relative;

            .zanane-icon-2 {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid white;
                background-color: white;
                padding: 8px 0px;
            }
        }

        .zanane-33 {
            position: relative;

            .zanane-icon-3 {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid white;
                background-color: white;
                padding: 8px 0px;
            }
        }

        .zanane-44 {
            position: relative;

            .zanane-icon-4 {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid white;
                background-color: white;
                padding: 8px 0px;
            }
        }

        //bachegane
        .bachegane {
            .other-bachegane {
                img {
                    width: 475px;
                }
            }

            .bachegane-1 {
                position: relative;
            }

            .bachegane-icon-1 {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid white;
                background-color: white;
                padding: 8px 0px;
            }

            .bachegane-22 {
                position: relative;

                .bachegane-icon-2 {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border: 1px solid white;
                    background-color: white;
                    padding: 8px 0px;
                }
            }

            .bachegane-33 {
                position: relative;

                .bachegane-icon-3 {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border: 1px solid white;
                    background-color: white;
                    padding: 8px 0px;
                }
            }
        }

        //zibayisalamt
        .zibayi {
            .other-zibayi {
                img {
                    width: 214px;
                    display: block;
                }
            }

            .zibayi-1 {
                position: relative;
            }

            .zibayi-icon-1 {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid white;
                background-color: white;
                padding: 8px 0px;
            }

            .zibayi-22 {
                position: relative;

                .zibayi-icon-2 {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border: 1px solid white;
                    background-color: white;
                    padding: 8px 0px;
                }
            }

            .zibayi-33 {
                position: relative;

                .zibayi-icon-3 {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border: 1px solid white;
                    background-color: white;
                    padding: 8px 0px;
                }
            }

            .zibayi-44 {
                position: relative;

                .zibayi-icon-4 {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border: 1px solid white;
                    background-color: white;
                    padding: 8px 0px;
                }
            }

            .zibayi-55 {
                position: relative;

                .zibayi-icon-5 {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border: 1px solid white;
                    background-color: white;
                    padding: 8px 0px;
                }
            }
        }
    }
}

.main-shop {
    font-family: "estedad";
    a {
        padding: 0px 8px;
        text-decoration: none;
        color: black;
    }

    .div-p-and-b {
        display: flex;
        flex-direction: column;

        .porforosh-tarin-haye-akhir {
            font-size: 20px;
        }

        .button-more-main-shop {
            border: 1px solid #000;
            border-radius: 4px;
            margin: 60% 22%;
            width: max-content;
            a {
                padding: 0px 8px;
                text-decoration: none;
                color: black;
            }
        }

    }

    .shop-swiper {
        background-color: white;
        .rmpx{
            span{
                font-family: 'normal';
                font-size: 18px;
            }
            a{
                img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }          
                span{
                    font-family: "normal";
                    position: absolute;
                    top: 5.6%;
                    right: 0px;
                    background: white;
                    padding: 4px 18px;
                }
                .span-persot{
                    font-family: "normal";
                    position: absolute;
                    bottom:11.6%;
                    left: 0px;
                    background:#262626;
                    padding: 4px 18px;
                    margin: 0;
                    color: white;
                    text-align: center;
                    font-size: 16px;
                }
            }
            .info{
                .price{
                    position: relative;
                    .old-price{
                        font-size: 11px;
                        text-decoration: line-through black;
                        position: absolute;
                        bottom: -15px;
                        left: 1rem;
                    }
                    .new-price{
                        font-size: 18px;
                    }
                }

            }
        }
    }
}

.main-web {
    position: relative;
    font-family: "estedad";
    font-weight: 300;

    a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }

    .tpt {
        padding-left: 1rem;
        background-color: #e9e9e9;

        .woopty {
            margin-right: 15%;

            img {
                width: 70px;

            }

            border: 1px solid white;
            background-color: white;
            width: 75px;
        }

        .tt {
            z-index: 20;
        }
    }

    .stuv {
        position: absolute;
        .child-stuv {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
            padding: 20px 33px;
            margin-top: 7rem;
            img {
                width: 218px;
            }
        }
    }

    .ad-container {
        padding-top: 13rem;
        font-family: "normal";
        padding: 2rem 7rem;

        .matn {
            color: black;
            font-size: 26px;
        }

        img {
            max-width: 100%;
        }
    }

    .porforosh {
        padding-right: 8rem;
        padding-top: 5rem;

        a {
            text-decoration: none;
            color: black;
            font-size: 14px;
            font-weight: 300;
            padding: 6px 9px;
        }

        .moshahede {
            border: 1px solid black;
            padding: 5px 0px;
            width: 100px;
            margin-top: 8rem;
            margin-right: 1rem;
        }
    }

    .swip {
        position: absolute;
        padding-right: 24rem;
    }

    font-family: "normal";
    position: relative;

    .shop-swiper {
        position: absolute;
        max-width: 70rem;
        height: 25rem;

        img {
            min-width: 18rem;
            padding-top: 1rem;
        }
    }

    .tarahan {
        padding-top: 6rem;

        .ncno-deg-ris {
            height: 40rem;
        }

        .vhv {
            img {
                min-width: 272px;
            }
        }

        .ncno-image-seciton {
            .ncno-1 {
                img {
                    min-width: 30rem;
                }
            }

            .vhvv {
                img {
                    min-width: 30rem;
                }
            }
        }

        .n-main {
            .w3 {
                img {
                    min-width: 272px ;
                }
            }

            .w1 {
                img {
                    min-width: 272px ;
                }
            }

            .w2 {
                img {
                    min-width: 272px ;
                }
            }
        }

        .ncno-deg-ris .nc {
            a {
                font-size: 27px;
            }
        }

        .ncno-deg-ris .dg {
            a {
                font-family: "estedad-100";
                font-size: 22px;
                color: rgba(0, 0, 0, 0.596);
            }
        }

        .ncno-deg-ris .ris {
            a {
                font-family: "estedad-100";
                font-size: 22px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.596);
            }
        }
    }

    .akharin-matlab {
        img {
            width: 223px;
        }

        h3 {
            font-size: 20px;
            padding-top: 17px;
        }

        p {
            font-family: "normal";
            font-size: 12px;
            line-height: 24px;
        }
    }

    .gift-card {
        padding: 4rem 76px;

    }

    .nav-category {
        text-align: center !important;
        display: block;
        align-items: center;
        nav{

        }
        h3 {
            a {
                font-family: "normal";
                font-size: 22px;
                color: black !important;
            }
        }

        a {
            color: rgba(0, 0, 0, 0.719);
        }
        ul{
            padding: 0;
            width: 100%;
        }

        li {
            list-style: none;
            line-height: 2rem;
        }
    }

    li:hover {
        a {
            text-decoration: underline;
            color: black;
        }
    }
}

//----------Media--------------
@media(max-width:539px) {
    //container 100%   extra small
    .container{
        width: 100%;
        padding: 0;
    }
    .container-fluid{
        width: 100%;
    }
    .portfolio-menu {
        ul {
            li {
                padding: 10px 12px !important;
            }
        }
    }
    .portfolio-item {

        .mardane {
            .gp-free {
                gap: 0.5rem;
            }

            .other-mardane {
                a {
                    padding: 7px 0px;
                    font-size: 13px;
                }
            }
        }

        .zanane {
            .gp-free {
                gap: 0.5rem;
            }

            .other-zanane {
                a {
                    padding: 7px 3px;
                    font-size: 13px;
                }
            }
        }

        .bachegane {
            .gp-free {
                gap: 0.5rem;
            }

            .other-bachegane {
                a {
                    padding: 7px 16px;
                    font-size: 13px;
                }
            }
        }

        .zibayi {
            .gp-free {
                gap: 0.5rem;
            }

            .other-zibayi {
                a {
                    padding: 15px 0px;
                    font-size: 11px;
                }
            }
        }
    }
    .tpt{
        .tppt{
            padding: 0;
            width: 100%;
            align-items: center;
            text-align: center;
        }
        .woopty{
            margin: 0 ;
            display: none;
        }
        .tt{
            margin: 0;
            a{
                font-size: 12px;
            }
        }
        .stuv {
            display: none;
            .child-stuv {
                display: none;
            }
        }
    }
    .nav-category{
        h3{
            a{
                font-size: 19px;
            }
        }
        li{
            a{
                font-size: 12px;
            }
        }
    }
    .akharin-matlab {
        img {
            width: 100%;
        }

        h3 {
            font-size: 20px;
            padding-top: 17px;
        }

        p {
            font-family: "normal";
            font-size: 12px;
            line-height: 24px;
        }
    }
}
//---------------------------------
@media(min-width:540px) {

    //small
    .portfolio-menu {
        ul {
            li {
                padding: 10px 37px !important;
            }
        }
    }

    .portfolio-item {
        .mardane {
            .gp-free {
                gap: 0.5rem;
            }

            .other-mardane {
                a {
                    padding: 7px 3px;
                    font-size: 14px;
                }
            }
        }

        .zanane {
            .gp-free {
                gap: 0.5rem;
            }

            .other-zanane {
                a {
                    padding: 7px 3px;
                    font-size: 14px;
                }
            }
        }

        .bachegane {
            .gp-free {
                gap: 0.5rem;
            }

            .other-bachegane {
                a {
                    padding: 7px 16px;
                    font-size: 14px;
                }
            }
        }

        .zibayi {
            .gp-free {
                gap: 0.5rem;
            }

            .other-zibayi {
                a {
                    padding: 7px 3px;
                    font-size: 14px;
                }
            }
        }
    }
    .tpt{
        .tppt{
            padding: 0;
            margin-right: -40px ;
            padding-left: 34px;
        }
        .woopty{
            margin: 0;
        }
        .tt{
            margin: 0;
            a{
                font-size: 12px;
            }
        }
        .gp-4{
            gap: 7px !important;
        }
        .stuv {
            position: absolute;
            .child-stuv {
                background-color: #fff;
                border: 1px solid #fff;
                padding: 20px 33px;
                margin-top: 9rem;
                position: relative;
                right: 25%;
                img {
                    width: 51px;
                }
            }
        }
    }

    
}
//---------------------------------
@media(min-width:768px){

    //medium
    .portfolio-menu {
        ul {
            li {
                padding: 10px 45px !important;
            }
        }
    }

    .portfolio-item {
        .zibayi {
            .other-zibayi {
                a {
                    padding: 7px 8px;
                    font-size: 15px;
                }
            }
        }
    }
    .tpt{
        .tppt{
            padding: 0;
            margin-right: -40px ;
            padding-left: 34px;
        }
        .woopty{
            margin: 0;
        }
        .tt{
            margin: 0;
            a{
                font-size: 1rem;
            }
        }
        .gp-4{
            gap: 1.5rem !important;
        }
        .stuv {
            position: absolute;
            .child-stuv {
                background-color: #fff;
                border: 1px solid #fff;
                padding: 20px 33px;
                margin-top: 9rem;
                position: relative;
                right: 22%;
                img {
                    width: 105px;
                }
            }
        }
    }
    .main-shop .shop-swiper .rmpx a .span-persot {
        bottom: 13.6%;
    }
}
//---------------------------------
@media(min-width:992px) {
    .portfolio-menu {
        ul {
            li {
                padding: 10px 37px;
            }
        }
    }

    .portfolio-item {
        .mardane {
            .gp-free {
                gap: 3rem;
            }

            .other-mardane {
                a {
                    padding: 7px 3px;
                    font-size: 14px;
                }
            }
        }

        .zanane {
            .gp-free {
                gap: 3rem;
            }

            .other-zanane {
                a {
                    padding: 7px 3px;
                    font-size: 14px;
                }
            }
        }

        .bachegane {
            .gp-free {
                gap: 3rem;
            }

            .other-bachegane {
                a {
                    padding: 7px 16px;
                    font-size: 14px;
                }
            }
        }

        .zibayi {
            .gp-free {
                gap: 3rem;
            }

            .other-zibayi {
                a {
                    padding: 7px 3px;
                    font-size: 14px;
                }
            }
        }
    }
    .tpt{
        .tppt{
            padding: 0;
            margin-right: -40px ;
            padding-left: 34px;
        }
        .woopty{
            margin: 0;
        }
        .tt{
            margin: 0;
            a{
                font-size: 1rem;
            }
        }
        .gp-4{
            gap: 1.5rem !important;
        }
        .stuv {
            position: absolute;
            .child-stuv {
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(255, 255, 255);
                padding: 20px 33px;
                margin-top: 7rem;
                position: relative;
                right: 15%;
                img {
                    width: 180px;
                }
            }
        }
    }
    .main-web{
        .tarahan{
            .vhv{
                img{
                    min-width: 212px;
                }
            }
            .n-main{
                .w1{
                    img{
                        min-width: 212px;
                    }
                }
                .w2{
                    img{
                        min-width: 212px;
                    }
                }
                .w3{
                    img{
                        min-width: 212px;
                    }
                }
            }
        }
    }
    .main-shop .shop-swiper .rmpx a .span-persot {
        bottom: 15.6%;
    }
}
//---------------------------------
@media(min-width:1140px) {
    //Xlarge
.tpt{
    .tppt{
        padding: 0;
        margin-right: -40px ;
        padding-left: 34px;
    }
    .woopty{
        margin: 0;
    }
    .tt{
        margin: 0;
    }
    .gp-4{
        gap: 1.5rem !important;
    }
    .stuv {
        position: absolute;
        .child-stuv {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
            padding: 20px 33px;
            margin-top: 7rem;
            position: relative;
            right: 17%;
            img {
                width: 218px;
            }
        }
    }
}
.main-shop .shop-swiper .rmpx a .span-persot {
    bottom: 10.6%;
}
}
//---------------------------------
@media(min-width:1320px) {
    //XXlarge
    .gp-4{
        gap: 1.5rem !important;
    }
    .stuv {
        position: absolute;
        .child-stuv {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
            padding: 20px 33px;
            margin-top: 7rem;
            position: relative;
            right: 30%;
            img {
                width: 218px;
            }
        }
    }
    .main-shop .shop-swiper .rmpx a .span-persot {
        bottom: 10.6%;
    }
}